* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80% 0px;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.2);
    border-radius: 28px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 90px;
    list-style: none;
    margin: 1px;

}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
    align-items: center;
}

.navbar2 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
    align-items: center;
}

.navbar3 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
    align-items: center;
}



.navbar4 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navbar4 img {
    height: 50px;
    margin: 30px 10px;
}

.buy {
    width: 140px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(220,224,9,1) 0%, rgba(253,29,29,1) 100%);
}

.buy-2 {
    text-decoration: none;
    color: white;
}
